# Fast API
fastapi==0.115.0

# SwaggerUI
uvicorn[standard]==0.30.6

# Pydantic
pydantic==2.8.2
pydantic-settings==2.4.0

# Python virtual env
python-dotenv==1.0.1

# Influx
influxdb-client==1.45.0

#MQTT
paho-mqtt==2.1.0

# Security
python-jose[crptography]
passlib[bcrypt]
python-multipart
