[Unit]
Description=InfluxDB docker service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a InfluxDb
ExecStop=/usr/bin/docker stop -t 5 InfluxDb

[Install]
WantedBy=default.target
