[Unit]
Description=Node-RED docker service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a Node-RED
ExecStop=/usr/bin/docker stop -t 5 Node-RED

[Install]
WantedBy=default.target
