[Unit]
Description=Mosquitto docker service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a Mosquitto
ExecStop=/usr/bin/docker stop -t 5 Mosquitto

[Install]
WantedBy=default.target
